@model IEnumerable<LibraryManagementSystem.ENTITIES.Entities.Book>

@{
    Layout = "_LayoutManager";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetBook</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhotoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>

            @*<th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img style="width:150px;height:150px" src="@item.PhotoName" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>

            @*<td>
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>*@
            <td>
                <a class="btn form-control" style="color: white; background-color: #478ba2;  border-radius: 40px; width: 100%; " asp-action="EditBook" asp-controller="Admin" asp-route-id="@item.ID">Düzenle</a>
                <br />
                <a class="btn form-control" style="color: white; background-color: #478ba2;  border-radius: 40px; width: 100%; " asp-action="RemoveBook" asp-controller="Admin" asp-route-id="@item.ID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
