@model LibraryManagementSystem.ENTITIES.ViewModel.BooksCategory
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<head>
</head>
<body>
    <header class="navbar-dark" style="margin-bottom:-1.05%;">
        <nav class="navbar navbar-expand-lg" style=" border-radius:0px">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="ml-0 d-flex">
                    <a class="navbar-brand text-white justify-content-start" href="#"><i class="fa fa-graduation-cap fa-lg mr-2"></i>Kütüphane</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-7 mr-2" style="padding-left:4%">
                <div class="collapse navbar-collapse justify-content-end" id="nvbCollapse">
                    <ul class="navbar-nav container-fluid m-3">
                        <li class="nav-item pl-1">
                            <a class="nav-link  text-white" href="#"><i class="fa fa-home fa-fw mr-1"></i>Anasayfa / Home</a>
                        </li>
                        <li class="nav-item active pl-1">
                            <a class="nav-link" href="#"><i class="fa fa-th-list fa-fw mr-1"></i>Kitaplar / Books</a>
                        </li>
                        <li class="nav-item pl-1">
                            <a href="muhammedkoc10@gmail.com"><i class="fa fa-envelope"></i> muhammedkoc10@gmail.com</a>
                        </li>
                        <li class="nav-item pl-1">
                            <a href="tel:+90-543-291-7299"><i class="fa fa-phone"></i> +90-543-291-7299</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2" style="margin-left:100px">
                <ul class="navbar-nav container-fluid">
                    <li class="nav-item pl-1 mr-0">
                        <a class="nav-link text-white" asp-action="Login" asp-controller="Home"><i class="fa fa-sign-in fa-fw mr-1"></i>Giriş Yap / Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div data-ride="carousel" class="carousel slide" id="home-v1-header-carousel">
        <div class="carousel-inner">
            <div class="item active">
                <figure>
                    <img src="~/LIBRARIA-Online-Library/images/header-slider/home-v1/header-slide.jpg" />
                </figure>
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Kütüphaneye Gelmeden Evden Kirala!</h3>
                        <h2>Kitapların Dünyasını Keşfet</h2>
                        <p>Zengin kütüphanemizde istediğin kitabı bulamadın mı? <br /><br />Sakın endişelenme bizi ara 2 hafta sonra gel ve al!</p>
                        <div class="slide-buttons">
                            <a href="#" class="btn btn-primary">Tüm Kitapları Gör</a>
                            <a href="#" class="btn btn-default">Hemen Kitap Kirala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img alt="Home Slide" src="~/LIBRARIA-Online-Library/images/header-slider/home-v1/header-slide.jpg" />
                </figure>
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Rent From Home!</h3>
                        <h2>Explore the World of Books</h2>
                        <p>Did not find the book you wanted in our rich library? <br /><br />Do not worry, call us, come and get it in 2 weeks!</p>
                        <div class="slide-buttons">
                            <a href="#" class="btn btn-primary">Show All Books</a>
                            <a href="#" class="btn btn-default">Rent Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#home-v1-header-carousel" data-slide="prev"></a>
        <a class="right carousel-control" href="#home-v1-header-carousel" data-slide="next"></a>
    </div>
    <section class="search-filters">
        <div class="container">
            <div class="filter-box">
                <h3>Kütüphanede hangi kitabı arıyorsunuz? <hr /> Which book are you looking for in the library? </h3>
                <form asp-action="UsersSearch" asp-controller="Home" method="get">
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label class="sr-only" for="keywords">İsme Göre Ara</label>
                            <input class="form-control" style="margin-left:25%" placeholder="İsme Göre Ara / Search by Keywords" id="keywords" name="keywords" type="text">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <select name="katID" class="form-control">

                                @foreach (var item in Model.Category)
                                {
                                    <option value="@item.ID">
                                        @item.CategoryName
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <input type="submit" value="Ara" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="category-filter section-padding">
        <div class="container" style="margin-bottom:-10%">
            @*<div class="center-content">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <h2 class="section-title">Popüler kitaplara göz atın...</h2>
                                <span class="underline center"></span>
                                <p class="lead">Son zamanların en popüler kitapları kategorilere göre önüne seriliyor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="filter-buttons">
                    <div class="filter btn" id="nav-tab" role="tablist">Tüm Kitaplar</div>
                    <div class="filter btn" data-filter="all">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
                    </div>
                    <div class="filter btn" data-filter="all">Aksiyon Macera</div>
                    <div class="filter btn" data-filter="all">Tarih</div>
                    <div class="filter btn" data-filter="all">Kişisel Gelişim</div>
                    <div class="filter btn" data-filter="all">Korku-Gerilim</div>
                </div>*@
            @*<nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-all" data-bs-toggle="tab" data-bs-target="#nav-all" type="button" role="tab" aria-controls="nav-all" aria-selected="true" style="margin-left:-3%;margin-bottom:8%; background-color:#ca3404; color:white; opacity:70%;">
                            <strong>Tüm Kitaplar</strong>
                        </button>
                        <button class="nav-link" id="nav-sci-fi" data-bs-toggle="tab" data-bs-target="#nav-sci-fi" type="button" role="tab" aria-controls="nav-sci-fi" aria-selected="false" style="margin-left:8%;margin-bottom:8%; background-color:#ca3404; color:white; opacity:70%;">
                            <strong>Bilim Kurgu</strong>
                        </button>
                        <button class="nav-link" id="nav-act" data-bs-toggle="tab" data-bs-target="#nav-act" type="button" role="tab" aria-controls="nav-act" aria-selected="false" style="margin-left:8%;margin-bottom:8%; background-color:#ca3404; color:white; opacity:70%;">
                            <strong>Aksiyon-Macera</strong>
                        </button>
                        <button class="nav-link" id="nav-history" data-bs-toggle="tab" data-bs-target="#nav-history" type="button" role="tab" aria-controls="nav-history" aria-selected="false" style="margin-left:8%;margin-bottom:8%; background-color:#ca3404; color:white; opacity:70%;">
                            <strong>Tarih</strong>
                        </button>
                        <button class="nav-link" id="nav-self-imp" data-bs-toggle="tab" data-bs-target="#nav-self-imp" type="button" role="tab" aria-controls="nav-self-imp" aria-selected="false" style="margin-left:8%;margin-bottom:8%; background-color:#ca3404; color:white; opacity:70%;">
                            <strong>Kişisel-Gelişim</strong>
                        </button>
                        <button class="nav-link" id="nav-horror" data-bs-toggle="tab" data-bs-target="#nav-horror" type="button" role="tab" aria-controls="nav-horror" aria-selected="false" style="margin-left:8%;margin-bottom:8%; background-color:#ca3404; color:white; opacity:70%;">
                            <strong>Korku-Gerilim</strong>
                        </button>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                    </div>
                </nav>*@
        </div>

        <section class="wrapper">
            <div class="container-fostrap">
                <div class="content">
                    <div class="container">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all" type="button" role="tab" aria-controls="nav-all" aria-selected="true" style="margin-left:-3%;margin-bottom:8%; background-color:#ca3404; color:white; opacity:70%;">
                                    <strong>Tüm Kitaplar</strong>
                                </button>
                                <button class="nav-link" id="nav-sci-fi-tab" data-bs-toggle="tab" data-bs-target="#nav-sci-fi" type="button" role="tab" aria-controls="nav-sci-fi" aria-selected="false" style="margin-left:8%;margin-bottom:8%; background-color:#ca3404; color:white; opacity:70%;">
                                    <strong>Bilim Kurgu</strong>
                                </button>
                                <button class="nav-link" id="nav-act-tab" data-bs-toggle="tab" data-bs-target="#nav-act" type="button" role="tab" aria-controls="nav-act" aria-selected="false" style="margin-left:8%;margin-bottom:8%; background-color:#ca3404; color:white; opacity:70%;">
                                    <strong>Aksiyon-Macera</strong>
                                </button>
                                <button class="nav-link" id="nav-history-tab" data-bs-toggle="tab" data-bs-target="#nav-history" type="button" role="tab" aria-controls="nav-history" aria-selected="false" style="margin-left:8%;margin-bottom:8%; background-color:#ca3404; color:white; opacity:70%;">
                                    <strong>Tarih</strong>
                                </button>
                                <button class="nav-link" id="nav-self-imp-tab" data-bs-toggle="tab" data-bs-target="#nav-self-imp" type="button" role="tab" aria-controls="nav-self-imp" aria-selected="false" style="margin-left:8%;margin-bottom:8%; background-color:#ca3404; color:white; opacity:70%;">
                                    <strong>Kişisel-Gelişim</strong>
                                </button>
                                <button class="nav-link" id="nav-horror-tab" data-bs-toggle="tab" data-bs-target="#nav-horror" type="button" role="tab" aria-controls="nav-horror" aria-selected="false" style="margin-left:8%;margin-bottom:8%; background-color:#ca3404; color:white; opacity:70%;">
                                    <strong>Korku-Gerilim</strong>
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab" style="opacity:80%">
                                <div class="row-cols-12">
                                    <div style="margin-top: -16%">
                                        @for (int i = 0; i < 6; i++)
                                        {
                                            <div class="card col-md-4 col-sm-6 col-xs-4 h-100" style="margin-top: 18%; margin-bottom: -7%; background-color: #855651;width:50%; height:50% ">
                                                <p class="img-card">
                                                    <img style="" src="@Model.Books[i*ViewBag.Rnd].PhotoName" />
                                                </p>
                                                <div class="card-content" style="text-align:center; margin-top:5%">
                                                    <h1 class="card-title">
                                                        @Model.Books[i* ViewBag.Rnd].BookName
                                                    </h1>
                                                </div>
                                                <div class="card-content " style="float: left; margin-top: 9%; text-align: center;">
                                                    <h3>
                                                        @Model.Books[i* ViewBag.Rnd].Author
                                                    </h3>

                                                </div>
                                                <div class="card-content " style="float: left; margin-top: 11%; text-align: center;">
                                                    <h4>
                                                        ISBN - @Model.Books[i* ViewBag.Rnd].ISBN
                                                    </h4>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-sci-fi" role="tabpanel" aria-labelledby="nav-sci-fi-tab" style="opacity:80%;">
                                <div class="row-cols-12">
                                    <div style="margin-top: -16%">
                                        @for (int i = 0; i < Model.Books.Count; i++)
                                        {
                                            @if (Model.Books[i].Category.CategoryName == "Bilim Kurgu")
                                            {
                                                ViewBag.ZeroSci++;
                                                <div class="card col-md-4 col-sm-6 col-xs-4 h-100" style="margin-top: 18%; margin-bottom: -7%; background-color: #855651">
                                                    <p class="img-card">
                                                        <img style="" src="@Model.Books[i].PhotoName" />
                                                    </p>
                                                    <div class="card-content" style="text-align:center; margin-top:5%">
                                                        <h1 class="card-title">
                                                            @Model.Books[i].BookName
                                                        </h1>
                                                    </div>
                                                    <div class="card-content " style="float: left; margin-top: 9%; text-align: center;">
                                                        <h3>
                                                            @Model.Books[i].Author
                                                        </h3>
                                                    </div>
                                                    <div class="card-content " style="float: left; margin-top: 11%; text-align: center;">
                                                        <h4>
                                                            ISBN - @Model.Books[i].ISBN
                                                        </h4>
                                                    </div>
                                                </div>

                                            }
                                            if (ViewBag.ZeroSci > 5)
                                                break;
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-act" role="tabpanel" aria-labelledby="nav-act-tab" style="opacity:80%">
                                <div class="row-cols-12">
                                    <div style="margin-top: -16%">
                                        @for (int i = 0; i < Model.Books.Count; i++)
                                        {
                                            @if (Model.Books[i].Category.CategoryName == "Aksiyon-Macera")
                                            {
                                                ViewBag.ZeroAct++;
                                                <div class="card col-md-4 col-sm-6 col-xs-4 h-100" style="margin-top: 18%; margin-bottom: -7%; background-color: #855651">
                                                    <p class="img-card">
                                                        <img style="" src="@Model.Books[i].PhotoName" />
                                                    </p>
                                                    <div class="card-content" style="text-align:center; margin-top:5%">
                                                        <h1 class="card-title">
                                                            @Model.Books[i].BookName
                                                        </h1>
                                                    </div>
                                                    <div class="card-content " style="float: left; margin-top: 9%; text-align: center;">
                                                        <h3>
                                                            @Model.Books[i].Author
                                                        </h3>
                                                    </div>
                                                    <div class="card-content " style="float: left; margin-top: 11%; text-align: center;">
                                                        <h4>
                                                            ISBN - @Model.Books[i].ISBN
                                                        </h4>
                                                    </div>
                                                </div>
                                            }
                                            if (ViewBag.ZeroAct > 5)
                                                break;
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab" style="opacity:80%">
                                <div class="row-cols-12">
                                    <div style="margin-top: -16%">
                                        @for (int i = 0; i < Model.Books.Count; i++)
                                        {
                                            @if (Model.Books[i].Category.CategoryName == "Tarih")
                                            {
                                                ViewBag.ZeroHist++;
                                                <div class="card col-md-4 col-sm-6 col-xs-4 h-100" style="margin-top: 18%; margin-bottom: -7%; background-color: #855651">
                                                    <p class="img-card">
                                                        <img style="" src="@Model.Books[i].PhotoName" />
                                                    </p>
                                                    <div class="card-content" style="text-align:center; margin-top:5%">
                                                        <h1 class="card-title">
                                                            @Model.Books[i].BookName
                                                        </h1>
                                                    </div>
                                                    <div class="card-content " style="float: left; margin-top: 9%; text-align: center;">
                                                        <h3>
                                                            @Model.Books[i].Author
                                                        </h3>
                                                    </div>
                                                    <div class="card-content " style="float: left; margin-top: 11%; text-align: center;">
                                                        <h4>
                                                            ISBN - @Model.Books[i].ISBN
                                                        </h4>
                                                    </div>
                                                </div>
                                            }
                                            if (ViewBag.ZeroHist > 2)
                                                break;
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-self-imp" role="tabpanel" aria-labelledby="nav-self-imp-tab" style="opacity:80%">
                                <div class="row-cols-12">
                                    <div style="margin-top: -16%">
                                        @for (int i = 0; i < Model.Books.Count; i++)
                                        {
                                            @if (Model.Books[i].Category.CategoryName == "Kişisel Gelişim")
                                            {
                                                ViewBag.ZeroSelf++;
                                                <div class="card col-md-4 col-sm-6 col-xs-4 h-100" style="margin-top: 18%; margin-bottom: -7%; background-color: #855651">
                                                    <p class="img-card">
                                                        <img style="" src="@Model.Books[i].PhotoName" />
                                                    </p>
                                                    <div class="card-content" style="text-align:center; margin-top:5%">
                                                        <h1 class="card-title">
                                                            @Model.Books[i].BookName
                                                        </h1>
                                                    </div>
                                                    <div class="card-content " style="float: left; margin-top: 9%; text-align: center;">
                                                        <h3>
                                                            @Model.Books[i].Author
                                                        </h3>
                                                    </div>
                                                    <div class="card-content " style="float: left; margin-top: 11%; text-align: center;">
                                                        <h4>
                                                            ISBN - @Model.Books[i].ISBN
                                                        </h4>
                                                    </div>
                                                </div>
                                            }
                                            if (ViewBag.ZeroSelf > 2)
                                                break;
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-horror" role="tabpanel" aria-labelledby="nav-horror-tab" style="opacity:80%">
                                <div class="row-cols-12">
                                    <div style="margin-top: -16%">
                                        @for (int i = 0; i < Model.Books.Count; i++)
                                        {
                                            @if (Model.Books[i].Category.CategoryName == "Korku-Gerilim")
                                            {
                                                ViewBag.ZeroHor++;
                                                <div class="card col-md-4 col-sm-6 col-xs-4 h-100" style="margin-top: 18%; margin-bottom: -7%; background-color: #855651">
                                                    <p class="img-card">
                                                        <img style="" src="@Model.Books[i].PhotoName" />
                                                    </p>
                                                    <div class="card-content" style="text-align:center; margin-top:5%">
                                                        <h1 class="card-title">
                                                            @Model.Books[i].BookName
                                                        </h1>
                                                    </div>
                                                    <div class="card-content " style="float: left; margin-top: 9%; text-align: center;">
                                                        <h3>
                                                            @Model.Books[i].Author
                                                        </h3>
                                                    </div>
                                                    <div class="card-content " style="float: left; margin-top: 11%; text-align: center;">
                                                        <h4>
                                                            ISBN - @Model.Books[i].ISBN
                                                        </h4>
                                                    </div>
                                                </div>
                                            }
                                            if (ViewBag.ZeroHor > 2)
                                                break;
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section class="team section-padding">
        <div class="container">
            <div class="center-content">
                <h2 class="section-title">KÜTÜPHANE GÖREVLİLERİYLE TANIŞIN</h2>
                <hr />
                <h2 class="section-title">Meet Our Staff</h2>
                <span class="underline center"></span>
                <br /> <br /> <br />
            </div>
            <div class="team-list">
                <div class="team-member">
                    <figure>
                        <img src="~/img/mami2.jpeg" />
                    </figure>
                    <div class="content-block">
                        <div class="member-info">
                            <h4>Muhammed Koç</h4>
                            <br />
                            <span class="designation">Kütüphane Sorumlusu / Library Manager</span>
                            <br />
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here...</p>
                        </div>
                    </div>
                </div>
                <div class="team-member">
                    <figure>
                        <img src="~/img/23.JPG" />
                    </figure>
                    <div class="content-block">
                        <div class="member-info">
                            <h4>Canan Koç</h4>
                            <br />
                            <span class="designation">Kütüphane Görevlisi / Library Attendant</span>
                            <br />
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here...</p>
                        </div>
                    </div>
                </div>
                <div class="team-member">
                    <figure>
                        <img src="~/img/default.jpg" />
                    </figure>
                    <div class="content-block">
                        <div class="member-info">
                            <h4>Can Koç</h4>
                            <br />
                            <span class="designation">Kütüphane Görevli Yardımcısı / Librarian</span>
                            <br />
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="news-events section-padding banner">
        <div class="container">
            <div class="center-content">
                <h2 class="section-title c-light">Etkinlikler / Events</h2>
                <hr />
                <p class="lead c-light">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
            </div>
            <div class="news-events-list">
                <div class="single-news-event">
                    <figure>
                        <img src="~/LIBRARIA-Online-Library/images/news-event/news-event-01.jpg" alt="News & Event" />
                    </figure>
                    <div class="content-block">
                        <div class="member-info">
                            <div class="content_meta_category">
                                <span class="arrow-right"></span>
                                <a href="#." rel="category tag">ETKİNLİK / EVENT</a>
                            </div>
                            <ul class="news-event-info">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-calendar"></i>
                                        25 Ocak / January 2023
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-clock-o"></i>
                                        10:00 - 16:00
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-map-marker"></i>
                                        Çanakkale / Merkez
                                    </a>
                                </li>
                            </ul>
                            <h3><a href="#">Kütüphanenin Kitaplarını beraber diziyoruz</a></h3>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="single-news-event">
                    <figure>
                        <img src="~/LIBRARIA-Online-Library/images/news-event/news-event-02.jpg" alt="News & Event" />
                    </figure>
                    <div class="content-block">
                        <div class="member-info">
                            <div class="content_meta_category">
                                <span class="arrow-right"></span>
                                <a href="#." rel="category tag">ETKİNLİK / EVENT</a>
                            </div>
                            <ul class="news-event-info">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-calendar"></i>
                                        2 Şubat / February 2023
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-map-marker"></i>
                                        Çanakkale / Yenice / Karadoru Köyü
                                    </a>
                                </li>
                            </ul>
                            <h3><a href=".html#">Köy Kütüphanesini hep beraber boyuyoruz </a></h3>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="single-news-event">
                    <figure>
                        <img src="~/LIBRARIA-Online-Library/images/news-event/news-event-03.jpg" alt="News & Event" />
                    </figure>
                    <div class="content-block">
                        <div class="member-info">
                            <div class="content_meta_category">
                                <span class="arrow-right"></span>
                                <a href="#." rel="category tag">ETKİNLİK / EVENT</a>
                            </div>
                            <ul class="news-event-info">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-calendar"></i>
                                        27 Mart / March 2023
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-map-marker"></i>
                                        Çanakkale Merkez Kütüphanesi
                                    </a>
                                </li>
                            </ul>
                            <h3><a href=".html#">Kütüphanecilik haftasını kutluyoruz</a></h3>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>

    <section class="social-network aligncenter">
        <div class="container-fluid">
            <div class="center-content">
                <h2 class="section-title">Bizi Takip Et / Follow Us</h2>
                <hr />
                <p>Etkinliklerden haberdar olmak için bizi takip et</p>
                <p>Follow us to be informed about events</p>
            </div>
            <div style="margin-left:25.5%">
                <ul>
                    <li>
                        <a class="facebook" href="https://www.facebook.com/mhmmdkoc17" target="_blank">
                            <span>
                                <i class="fa fa-facebook-f"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="twitter" href="https://twitter.com/mhmkoc17" target="_blank">
                            <span>
                                <i class="fa fa-twitter"></i>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a class="linkedin" href="https://www.linkedin.com/in/muhammed-k0c/" target="_blank">
                            <span>
                                <i class="fa fa-linkedin"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="youtube" href="https://www.youtube.com/channel/UCPy-s-g4jZhmcxU7NcXq0Mg" target="_blank">
                            <span>
                                <i class="fa fa-youtube"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <footer class="bg-green text-center text-white">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="#">Muhammed Koç</a>
        </div>
    </footer>
</body>


